@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: 'Poppins', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info {
  margin-left: 30px;
  gap: 20px;
}

.navigate {
  margin-right: 30px;
  gap: 20px;
}

.info > p:nth-of-type(1) {
  font-size: 30px;
  background-color: orange;
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

.info > p:nth-of-type(2) {
  font-size: 20px;
  font-weight: 700;
}

.info > p:nth-of-type(3) {
  font-weight: 600;
}

.navigate > p:nth-of-type(1) {
  font-weight: 400;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.navigate > p:nth-of-type(2) {
  font-size: 30px;
  font-weight: 300;
}

.navigate > p:nth-of-type(3) {
  font-weight: 400;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.navigate > p:nth-of-type(4) {
  font-size: 30px;
  font-weight: 300;
}

.navigate > p:nth-of-type(5) {
  font-weight: 400;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.container {
  margin-top: 150px;
  margin-left: 200px;
  margin-right: 100px;
  margin-bottom: 200px;
  height: 400px;
}

img {
  width: 450px;
  height: 450px;
  border-radius: 50%;
  background-size: cover;
}

.content {
  margin-top: -200px;
  margin-left: 40px;
  height: 400px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content > p:nth-of-type(1) {
  font-size: 100px;
  font-weight: 500;
  margin-bottom: 100px;
}

.content > p:nth-of-type(2) {
  margin-top: -100px;
  font-size: 20px;
  font-weight: 600;
}

.content > p:nth-of-type(3) {
  margin-top: -15px;
  margin-right: 200px;
  text-align: justify;
}

.navi {
  margin-top: 40px;
  margin-left: -100px;
  gap: 15px;
}

.navi > div:nth-of-type(1) {
  font-weight: 700;
  font-size: 20px;
  height: 140px;
  width: 140px;
  background-color: orange;
  border-radius: 50%;
  border: 1px solid black;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.navi > div:nth-of-type(2) {
  font-weight: 700;
  font-size: 20px;
  height: 140px;
  width: 140px;
  background-color: rgba(255, 0, 0, 0.884);
  border-radius: 50%;
  border: 1px solid black;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.navi > div:nth-of-type(3) {
  font-weight: 700;
  font-size: 20px;
  height: 140px;
  width: 140px;
  background-color: lightblue;
  border-radius: 50%;
  border: 1px solid black;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.foot {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 50px;
  margin-bottom: 50px;
}

hr {
  margin: 0 50px;
}

.phone {
  margin-top: 30px;
  margin-left: 50px;
  width: 40px;
  height: 100px;
  margin-right: -50px;
}

.phone > p:nth-of-type(1) {
  font-weight: 700;
}

.phone > p:nth-of-type(2) {
  margin-top: -10px;
  width: 200px;
}

.email {
  margin-top: 30px;
  width: 40px;
  height: 100px;
}

.email > p:nth-of-type(1) {
  font-weight: 700;
}

.email > p:nth-of-type(2) {
  margin-top: -10px;
}

.Follow {
  margin-right: 50px;
  margin-top: 20px;
}

.Follow > div:nth-of-type(1) {
  font-weight: 700;
}

.Follow > div:nth-of-type(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  font-size: 20px;
  margin-left: -25px;
}

.navigate > p:nth-of-type(1):hover {
  color: #8a7606;
}

.navigate > p:nth-of-type(3):hover {
  color: #8a7606;
}

.navigate > p:nth-of-type(5):hover {
  color: #8a7606;
}

.navi > div:hover {
  background-color: white;
}
/*# sourceMappingURL=style.css.map */